{% extends "StudyBlogBundle::layout.html.twig" %}

{% block main_content %}
	<h1>Blog Page</h1>
	<a href="{{ path('study_add_blog') }}" class="add_blog btn btn-success">Add Blog</a>
	<ul class="list_blog">
		{% for blog in blogs %}
			<li>
				<h2>{{ blog.title }}</h2>
				<p>{{ blog.createdDate.date|date() }}</p>
				<p>{{ blog.updatedDate.date|date() }}</p>
				<a href="{{ path('study_edit_blog',{'id': blog.id}) }}" class="edit_blog btn btn-primary">Edit</a>
				<a href="{{ path('study_delete_blog',{'id': blog.id}) }}" class="delete_blog btn btn-danger">Delete</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
